<footer class="footer-section">
  <div class="container">
    <div class="footer-text">
      <div class="row">
        <div class="col-lg-4">
          <div class="ft-about">
            <div class="logo">
              <a href="#">
                <img src="assets/img/logo.png" alt="">
              </a>
            </div>
            <p>Мы вдохновляем и охватываем миллионы путешественников</p>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="ft-contact">
            <h6>Контакты</h6>
            <ul>
              <li>+375 29 234-23-23</li>
              <li>info@gmail.com</li>
              <li>ул. Независимости 95А, Беларусь, г.Минск</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="co-text"><p>
            Copyright &copy;2025
          </p></div>
        </div>
      </div>
    </div>
  </div>
</footer>
